@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+VIC+Guides&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fbf6e9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: max-content;
}

/* Navbar Styling */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text { 
    color: black;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 18px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    font-size: 20px;
    transition: 0.3s ease;
    color: black;
}

.navbar .nav-menu .nav-link:hover{
    color: #118B50;
}

/* Header Styling */

.hero-section { 
    min-height: 100vh;
}

.hero-section .section-content{ 
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #5db996;
    justify-content: space-between;
}

.title{
    padding-left: 250px;
    margin: 0;
    line-height: .9;
    letter-spacing: 5px;
    padding-top: 0;
    font-size: 130px;
    opacity: 0;
    color: #118b50;
    animation: slideInLeft .3s ease-out forwards;
}

@keyframes slideInLeft {
0% {
    transform: translateX(-100%); /* Start off-screen to the right */
    opacity: 0;
}
100% {
    transform: translateX(0);    /* End at the original position */
    opacity: 1;
}
}

.subtitle{ 
    margin-top: 30px;
    padding-left: 380px;
    font-size: 50px;
    display: inline-block;
    line-height: .9;
    font-size: semi-bold;
    opacity: 0;
    animation: slideInRight .3s ease-out forwards;

}
@keyframes slideInRight {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
        opacity: 0;
    }
    100% {
        transform: translateX(0);    /* End at the original position */
        opacity: 1;
    }
    }


/* ------------------ Stain Element --------------------- */
.stain_one {
    position: relative;
    top: -450px;
    left: 250px;
    width: 500px;
    height: 500px;
    transform: translate(-20%, -20%) scale(0) ;
    opacity: 0;
    z-index: 1;
    
    /* Trigger the animation on page load */
    animation: dropletFade 1s forwards ease-out;
    animation-delay: .2s;
  }
  
  @keyframes dropletFade {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }
  
  .stain_two {
    position: relative;
    top: -250px;
    left: 470px;
    width: 500px;
    height: 500px;
    transform: translate(-20%, -20%) scale(0) ;
    opacity: 0;
    z-index: 1;
    
    /* Trigger the animation on page load */
    animation: dropletFade 1s forwards ease-out;
    animation-delay: .4s;
  }
  
  @keyframes dropletFade {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: .5;
    }
  }
