@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+VIC+Guides&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fbf6e9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Navbar Styling */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    opacity: 0;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, opacity .3s ease;
    transform: translateY(-100%)
}

.navbar .nav-menu{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text { 
    color: black;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 18px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    font-size: 20px;
    transition: 0.3s ease;
    color: black;
}

.navbar .nav-menu .nav-link:hover{
    color: #118B50;
}

.navbar.show {
    transform: translateY(0);
    opacity: 1;
  }

/* Header Styling */


.hero-section .section-content{ 
    display: flex;
    min-height: 100vh;
    align-items: center;
    color: #5db996;
    justify-content: space-between;

}

.title{
    padding-left: 250px;
    margin: 0;
    line-height: .9;
    letter-spacing: 5px;
    padding-top: 0;
    font-size: 130px;
    opacity: 0;
    color: #118b50;
    animation: slideInLeft .3s ease-out forwards;
}

@keyframes slideInLeft {
0% {
    transform: translateX(-100%); /* Start off-screen to the right */
    opacity: 0;
}
100% {
    transform: translateX(0);    /* End at the original position */
    opacity: 1;
}
}

.subtitle{ 
    margin-top: 30px;
    padding-left: 380px;
    font-size: 50px;
    display: inline-block;
    font-size: semi-bold;
    opacity: 0;
    animation: slideInRight .3s ease-out forwards;

}
@keyframes slideInRight {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
        opacity: 0;
    }
    100% {
        transform: translateX(0);    /* End at the original position */
        opacity: 1;
    }
    }

    
/* ------------------ Stain Element --------------------- */
.stain_one {
    position: relative;
    top: -450px;
    left: 250px;
    width: 500px;
    height: 500px;
    transform: translate(-20%, -20%) scale(0) ;
    opacity: 0;
    z-index: 1;
    
    /* Trigger the animation on page load */
    animation: dropletFade .3s forwards ease-out;
    animation-delay: .2s;
  }
  
  @keyframes dropletFade {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }
  
  .stain_two {
    position: relative;
    top: -250px;
    left: 470px;
    width: 500px;
    height: 500px;
    transform: translate(-20%, -20%) scale(0) ;
    opacity: 0;
    z-index: 1;
    
    /* Trigger the animation on page load */
    animation: dropletFade .3s forwards ease-out;
    animation-delay: .4s;
  }
  
  @keyframes dropletFade {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: .5;
    }
  }


  /* ============ PROJECT ============== */
  .section__title {
  margin-top: -500px;
  text-align: center; 
  position: relative;
  display: block; 
}

.section__subtitle {
  text-align: center; 
  padding-block: 2.5rem;
  padding-bottom: 3.5rem;
  position: relative;
  display: block; 
}

.projects__container {
  max-width: 1024px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
}
  
.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  justify-content: center;
  padding: 2rem 1rem; 
}

.projects__img {
  width: 250px;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

.projects__subtitle {
  font-size: small;
  color: #118b50;
}

.projects__title {
  font-size: large;
  margin: 0.5rem 0 1.25rem;
}

.projects__button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #118b50;
  font-size: small;
  text-decoration: none;
}

.projects__button i {
  font-size: 1rem;
  transition: transform 0.3s;
}

.projects__button:hover i {
  transform: translateX(0.25rem);
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

.delay-1 {
    transition-delay: 0.2s;
}
.delay-2 {
    transition-delay: 0.4s;
}
.delay-3 {
    transition-delay: 0.6s;
}
.delay-4 {
    transition-delay: 0.8s;
}